<style type="text/css" >

    .leftimg {
        float:left; /* Выравнивание по левому краю */
        margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
        width : 150px
         }

    h1{color : blue }
</style