{% extends "base.html" %}
{%block title%}{{title}}{%endblock%}

{% block page_content %}
<body>
    <div class="container">
        <h1>{{title}}</h1>

        {%for item in goods%}
                <div class="col">
                  <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">{{item.title}}</h4>
                  </div>
                  <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>{{item.description}}</li>
                      <li>Цена :&nbsp{{item.price}}</li>
                      <li>Дата поступления:</li>
                      <li>{{item.date.date()}}</li>
                    </ul>

                  <a  href="#" class="w-100 btn btn-lg btn-outline-primary">Купить</a>
                  </div>
                  </div>
              </div>
        {%endfor%}

    </div>
</body>
{%endblock%}