{% extends "base.html" %}
{%block title%}{{title}}{%endblock%}

{% block page_content %}
<body>

<div class="container py-3">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Лучшие предложения</h1>
      <p class="fs-5 text-muted">Акции, распродажи, новые поступления, самые популярные товары!!!</p>
    </div>


  <main>
     <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Акции</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">до -30% <small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Ознакомтесь с ассортиментом</li>
              <li>акционных товаров</li> <br><br>
            </ul>
             <a  href="/stock" class="w-100 btn btn-lg btn-outline-primary">Перейти</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Новинки</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">NEW!!!<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>Здесь вы найдете</li>
              <li>последние поступления</li>
              <li>товаров </li>
              <br>
            </ul>
             <a  href="/new" class="w-100 btn btn-lg btn-outline-primary">Перейти</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Популярные</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">Выбор покупателей<small class="text-muted fw-light"></small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>САМЫЕ ПОПУЛЯРНЫЕ ТОВАРЫ</li>
              <li>за последние сутки</li>
            </ul>
             <a  href="/popular" class="w-100 btn btn-lg btn-outline-primary">Перейти</a>
          </div>
        </div>
      </div>
    </div>

  </main>
</div>

</body>
{%endblock%}